<%- include ('./partials/head.ejs') %>

<main class="home">
    <h1>Welcome to Tangerine's Cat Food Catalogue</h1>
    <p><a href="/login">LOGIN</a></p>
    <p><a href="/register">REGISTER</a></p>
</main>

<%- include ('./partials/foot.ejs') %>