html, body {
    font-family:  Helvetica Neue, Arial, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
 }

 .fa-input { 
    font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif; 
    color: #0d6efd;
}

.index_container {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    row-gap: 1em;
}

.cards_container, .brands_container {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.brands_container h4 {
    padding-top: 1em;
}

.cards_container .card-header {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    align-items: center;
    column-gap: 1em;
}

.cards_container .card-body {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

.card.show {
    display: flex;
    justify-content: center;
}
.show p {
    padding: 0.5em
}
.show_buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
    padding: 1em;
}

footer {
    padding: 1.5em;
    border-top: 1px solid #0d6efd;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1em;
}

footer .icons {
    padding: 0.6em;
    display: flex;
    column-gap: 0.6em;
    align-items: center;
}

footer h6 {
    padding-right: 0.3em;
}
